<div class="container-app">
    <nav class="navbar blue nomargin white-text">
      <div class="container">
        <div class="navbar-header nofloat">
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <a class="navbar-brand" href="#">
                <img alt="logo" src="../assets/logo.png">
              </a>
            </div>
            <div class="col-md-8 col-xs-6">
              <ul class="menu nav navbar-nav">
                <li><a href="" class="navbar-link white-text">Products</a></li>
                <li><a href="" class="navbar-link white-text">Company</a></li>
                <li><a href="" class="navbar-link white-text">Blog</a></li>
                <li><a href="" class="navbar-link white-text">Docs</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-xs-4">
              <button type="button" class="btn navbar-btn white-text bg-faded uppercased">Sign in</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="programmable-section row blue white-text">
      <div class="container">
        <div class="col-md-6 private-beta-text">
            <span class="site-version rounded-100 bg-faded uppercased" alt="version of site">Private beta</span>
            <h2>Programmable banking <br> for software developers</h2>
            <p>A complete financial services toolkit, helping you build <br> your own baking experience with code.</p>
            <button type="button" class="btn requestAccess-button uppercased">Request early access &#8594;</button>
          </div>
          <div class="col-md-6 illustration">
            <img src="../assets/card_big.png" alt="card-image" class="card-img">
            <img src="../assets/phone.png" alt="phone-image" class="phone-img">
          </div>
      </div>
    </div>
    <div class="row api-section">
      <div class="container">
        <div class="account-description centered">
            <i class="fas fa-user-check user-icon"></i>
          <h2>A bank account with full API access</h2>
          <span alt="description of account" class="grey-text">Control your money programmatically, build your own features, and securely integrate <br> 
            with other services. Fetch transactions, view balances, make payments, or update <br> 
            beneficiaries - all wrapped behind an easy to use REST API.</span>
          <h3 alt="noXMLtext" class="italic bold grey-text xmltext">No XML, we promise.</h3>  
        </div>
        <div class="col-md-4 account-options">
            <ul class="uppercased">
                <li>
                  <a href="#" class="option item">Payments</a>
                </li>  
                <li>
                    <a href="#" class="option item">Transactions</a>
                </li> 
                <li>
                    <a href="#" class="option item">Cards</a>
                </li>
                <li>
                    <a href="#" class="option item">Contacts</a>
                </li>
              </ul>
              <a href="" class="moreDetailLink uppercased" alt="link to more info on API">See more on API's &#8594;</a>
        </div>
        <div class="col-md-8 code-img">
          <img src="../assets/code_demo.png" alt="code-sample-img">
        </div>
      </div>
    </div>
    <div class="card-section section-space row grey-bg">
      <div class="container">
        <div class="card-description col-md-4">
            <i class="fas fa-credit-card credit-card-logo"></i>
            <h2 class="card-title">Programmable Cards</h2>
            <span class="grey-text credit-card-text">Your Root account comes with a programmable Mastercard &#174; - and many more virtual ones. <br><br>
                These work any shop that accepts Mastercard. Take full control of your online payments by creating 
                a unique  card number for every shop -  all available through the API.
            </span>
            <div class="master-card-logo">
                <img src="../assets/mastercard.png" alt="">
            </div>
        </div>
        <div class="col-md-8 cards-img">
          <img src="../assets/cards.png" alt="card palette">
        </div>
      </div>
    </div>
    <div class="row rootcode-section section-space centered">
      <div class="container">
          <i class="fa fa-code code-logo"></i>
          <h2 class="notbold">Introducing rootcode</h2>
          <div class="rootcode-text">
            <span class="grey-text">Build your own rules and limits using RootCode - securely hosted Javascript cloud <br>
              functions that execute during your card transactions. Limit your fast-food spend, <br> 
              track your coffee intake on the fly, or send money to your favorite charity on <br>
              every swipe - anything goes.
            </span>
          </div>
          <div class="col-sm-6 col-md-6 code-sample">
            <img src="../assets/code_demo2.png" alt="">
          </div>
          <div class="col-sm-6 col-md-6 rootcode-examples">
            <div class="panel clearfix panel-example">
              <div class="col-sm-2">
                <div class="icon-heart rootcode-icon">
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="description">
                  <h5 class="uppercased nopadding">Limit spending in products, like fast food</h5>
                  <span class="grey-text">Control at which merchants or what categories your <br> 
                    card can be used, and code custom limtis.</span>
                </div>
              </div>
            </div>
            <div class="panel clearfix panel-example">
              <div class="col-sm-2">
                <div class="icon-heart rootcode-icon">
                  <i class="fa fa-credit-card"></i>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="description">
                  <h5 class="uppercased nopadding">Create once off virtual cards</h5>
                  <span class="grey-text">Tap into Root account's APIs from within <br>
                    RootCode, updating limits or locking the card.</span>
                </div>
              </div>
            </div>
            <div class="panel clearfix panel-example">
              <div class="col-sm-2">
                <div class="icon-heart rootcode-icon">
                  <i class="fa fa-bell"></i>
                </div>
              </div>
              <div class="col-sm-10">
                <div class="description">
                  <h5 class="uppercased nopadding">Setup costum budgeting &#38; notifications</h5>
                  <span class="grey-text">Send push notifications, SMS or send emails straight from your <br>
                  card, creating full custom experiences.</span>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="developers-feedback-section blue section-space">
     <div class="container">
        <div class="col-md-4 col-xs-4 dev-title">
            <h2 class="notbold white-text">See what developers <br> like you are doing <br> with RootCode</h2>
            <a href="" class="moreDetailLink-white uppercased white-text" alt="link to more info on Community">
              See more from community &#8594;</a>
        </div>
        <div class="col-md-8 col-xs-8">
          <div class="cards">
            <div class="col-md-6 col-xs-6 ">
              <div class="thumbnail dev-card">
                  <div class="caption">
                      <p class="grey-text">I've used RootCode to run a script <br>
                      every time I buy a cup of coffee with <br>
                      my Root card. It matches the amout I <br>
                      spent at any coffee shop and <br>
                      automatically donates it to my local <br>
                      animal welfare by sending off an EFT.</p>
                  </div>
                  <div class="developer">
                    <div class="info">
                        <span class="name uppercased bold">John Doe</span>
                        <p class="profession grey-text">Android Developer</p>
                    </div>
                    <div class="developer-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgFdR3C_yazdMHOlGiU_gjAlpnFWeifwoblr17aOE11agoXkTp" alt="...">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-6 ">
              <div class="thumbnail dev-card">
                <div class="caption">
                    <p class="grey-text">I've enhanced my card notifications to<br>
                    include the amount I'm psending per<br>
                    day on certain things, such as coffee<br>
                    or meals. I now know when I'm<br>
                    overspending.<br> <br>
                  I also tried to maek the push <br>
                    notifications a bit quirky, so that I <br>
                    actually read and take note of them.</p>
                </div>
                <div class="developer">
                  <div class="info">
                      <span class="name uppercased bold">Jane Doe</span>
                      <p class="profession grey-text">Front-End Developer</p>
                  </div>
                  <div class="developer-img">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-VELKBSVO2UBh6aOt6ESGaSIkeTrCBoA4m-ZzvyaXGXaopwZu" alt="...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news-section section-space">
      <div class="container flexed">
        <div class="col-md-6 col-xs-6">
          <div class="thumbnail fullheight grey-bg">
            <div class="header">
                <div class="blog-logo">
                    <i class="fa fa-book-open"></i>
                </div>
                <div class="title">
                  <p class="uppercased grey-text nomargin">What's new</p>
                  <h2 class="notbold nomargin">Blog</h2>
                </div>
            </div>
            <div class="info-body">
              <span class="grey-text">Get more information on what we're currently working on, what <br>
                the community is building or simply get access to how-to guides<br>
                for your Root account.</span>
            </div>
            <div>
              <a href="" class="uppercased moreDetailLink" alt="link to the blog">
                Read blog &#8594;</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="thumbnail fullheight grey-bg">
            <div class="header">
                <div class="blog-logo">
                  <i class="fas fa-certificate"></i>
                </div>
                <div class="title">
                  <p class="uppercased grey-text nomargin">We're introducing</p>
                  <h2 class="notbold nomargin">Insurance</h2>
                </div>
            </div>
            <div class="info-body">
              <span class="grey-text">We make it easy for you to integrate insurance into your product<br>
                by providing everything your need to get started- through an API.</span>  
            </div>
            <div>
                <a href="" class="uppercased moreDetailLink" alt="link to learn more">
                  Learn more &#8594;</a>
              </div>
          </div>
        </div>
      </div>
      <div class="container section-space flexed">
          <div class="col-md-8">
            <h2 class="notbold">Interested in joining the Root Community?</h2>
            <span class="grey-text">Our programmable bank accounts are in private beta, and we're <br>
            signing up hand-selected costumers in small batches.</span>
          </div>
          <div class="col-md-4 nopadding">
            <div class="contact">
              <div class="contact-form">
                  <input class="inputForm" type="text" placeholder="Enter your email address to request early access">
                  <button class="sendEmail">&#8594;</button>
              </div>
            </div>
          </div>
      </div>
    </div>  
    <div class="footer footer-blue section-space">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xs-12">
            <div class="row">
              <div class="footer-menu">
                <div class="footer-logo white-text margin-bottom">
                    <img alt="logo" src="../assets/logo.png">
                </div>
                <div class="col-md-3 col-xs-3">
                  <div class="row">
                    <h5 class="uppercased">Products</h5>
                    <ul>
                      <li><a href="">Banking</a></li>
                      <li><a href="">Insurance</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-xs-3">
                  <div class="row">
                    <h5 class="uppercased">Company</h5>
                    <ul>
                      <li><a href="">About</a></li>
                      <li><a href="">Careers</a></li>
                      <li><a href="">Press</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-xs-3">
                  <div class="row">
                    <h5 class="uppercased">Docs</h5>
                    <ul>
                      <li><a href="" class="insuranceAPi">Insurance API</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-xs-3">
                  <div class="row">
                    <h5 class="uppercased">Social</h5>
                    <ul>
                      <li><a href="">Blog</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">LinkedIn</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="footer-social white-text col-md-5 col-xs-12">
              <div class="row">
                <div class="footer-social white-text">
                  <div class="social-icons margin-bottom">
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                  </div>
                  <p>Root is hiring talented <br> people like yourself</p>
                  <a href="" class="moreDetailLink uppercased" alt="link to more info on API">
                    See openings &#8594;</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer-legal footer-blue">
      <div class="container">
          <div class="col-md-7 col-xs-12">
            <div class="row">
            <div class="trademark-issue section-space">
                <p>
                  This Final Card program is issued by First Bank &amp; Trust, Brookings SD, Member FDIC <br>
                  pursuant to a licence by Visa U.S.A Inc. Visa&reg; is a registered trademark of VISA U.S.A Inc.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-xs-12">
            <div class="row">
              <div class="privayPolicy section-space">
                <ul>
                  <li><a href=""><i class="fa fa-flag"></i></a></li>
                  <li><a href="">&copy; Root</a></li>
                  <li><a href="">Legal Documents</a></li>
                  <li><a href="">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>