.flexed {
    display: flex;
}

.fullheight {
    height: 100%;
}

.nofloat{
    float: none;
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.notbold {
    font-weight: normal;
}

.centered {
    text-align: center;
}

.uppercased {
    text-transform: uppercase;
}

.underlined {
    text-decoration: underline;
}
.white-text {
    color: rgb(255, 255, 255);
}

.grey-text {
    color: #71839d;
}

.grey-bg {
    background-color: #f4f9fc;
}

.blue {
    background: rgb(107,114,248);
    background: linear-gradient(90deg, rgba(107,114,248,1) 35%, rgba(0,212,255,1) 100%);        
}

.blue-hover {
    color: rgb(93, 151, 251);
}

.bg-faded {
    background: rgb(255, 255, 255, .3);
}

.rounded-100 {
    border-radius: 100px;
}

.section-space {
    padding-top: 50px;
    padding-bottom: 30px;
}
.container-app {
    height: 3000px;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu > li {
    padding-right: 30px;
}

.navbar-btn {
    padding: 20px;
    float: right;
}

.programmable-section{
    height: 750px;
    padding-top: 20px;
}

.requestAccess-button {
    color: rgb(208, 209, 213);
    background: rgb(29, 43, 65);
}

.private-beta-text {
    padding-top: 50px;
}

.site-version {
    padding: 10px;
}

.illustration {
    position: relative;
}

.phone-img {
    position: absolute;
    right: 40px;
}

.card-img {
    position: absolute;
    margin-top: 325px;
    z-index: 2;
}

.account-description {
    margin-bottom: 40px;
}

.xmltext {
    margin-top: 30px;
}

.api-section {
    padding-top: 30px;
    padding-bottom: 50px;
}

.user-icon {
    font-size: 45px;
    color: #4b97ff;
}

.moreinfoAPI {
    color: #7bb1ff;
}

.account-options> ul {
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.account-options> ul> li {
    padding-top: 25px;
    padding-bottom: 20px;
}

.account-options> ul> li> a{
    cursor: default;
}
.account-options> ul> li> a:hover {
    text-decoration: none;
}

.card-title {
    color: #27354a;
}

.credit-card-logo {
    color: #4b97ff;
    padding-bottom: 40px;
    font-size: 30px;
}

.credit-card-text, .rootcode-text {
    line-height: 40px;
}

.master-card-logo {
    padding-top: 20px;
}

.code-logo {
    color: #4b97ff;
    font-size: 40px;
}

.code-sample img {
    width: 100%;
}

.rootcode-examples {
    padding-top: 15px;
}

.icon-heart {
    margin-top: 10px;
}

.rootcode-text {
    margin-bottom: 30px;
}

.panel-example {
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
}

.rootcode-icon {
    font-size: 20px;
}

.panel:hover {
    box-shadow: 2px 2px 45px 2px rgba(228, 228, 228, 0.5);
}

.panel:hover i, .panel:hover h5 {
    color: rgb(93, 151, 251);
}

.cards {
    display: flex;
    justify-content: space-between;
}

.moreinfoCommunity {
    display: inline-block;
    margin-top: 60px;
}

.developer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dev-card {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.caption {
    flex: 1;
    margin-bottom: 30px;
}

.developer-img > img {
    border-radius: 50%;
}

.header {
    display: flex;
    flex-direction: row;
}

.blog-logo {
    background: #fff;
    border-radius: 50%;
}
.blog-logo>i  {
    color: rgb(93, 151, 251);
    padding: 20px;
    font-size: 20px;
}

.title {
    margin-left: 15px;
}

.news-section .thumbnail {
    padding: 15px;
}

.info-body {
    margin-top: 15px;
}

.readBlog, .learnMore {
    display: block;
    margin-top: 30px;
}

.contact {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
.contact-form {
    display: flex;
    width: 100%;
    box-shadow: 2px 2px 45px 2px rgba(228, 228, 228, 0.5);
}

.inputForm {
    flex: 7;
}
.sendEmail {
    width: 20%;
    color: #cccff9;
    background: rgb(107,114,248);
    background: linear-gradient(90deg, rgba(107,114,248,1) 35%, rgba(104,155,252,1) 100%);
}





